@use "../global" as g;

.p-firstview {
}

.p-firstview__inner {
}

.p-firstview__container {
  overflow: hidden;
  height: 600px;
}

.p-firstview__container-scale {
  overflow: hidden;
  width: 100vw;
  height: inherit;
}

.p-firstview__imgs {
  position: relative;
  height: inherit;
  display: flex;
  flex-direction: row;
  @include g.mq(xs, sm, md) {
    width: 300vw;
    transform: translateX(-100vw);
  }
}

.p-firstview__img-container {
  position: relative;
  height: inherit;

  &.img1 {
    z-index: 1;
    .p-firstview__img {
      background: url(../img/mainvisual1.jpg) no-repeat center center / cover;
    }
  }
  &.img2 {
    .p-firstview__img {
      background: url(../img/mainvisual2.jpg) no-repeat center center / cover;
    }
  }
  &.img3 {
    z-index: 1;
    .p-firstview__img {
      background: url(../img/mainvisual3.jpg) no-repeat center center / cover;
    }
  }
  @include g.mq(xs, sm, md) {
    width: 100vw;
    overflow: hidden;
  }
  @include g.mq(lg, xl, xxl) {
    width: 33.3%;
  }
}

.p-firstview__img {
  height: inherit;
  @include g.mq(xs, sm, md) {
    width: calc(400 / 375 * 100vw);
    transform: translateX(-25/375/2 * 100vw);
  }
}

.p-firstview__title {
  position: relative;
  padding-top: 10px;
  background-color: #050507;
  text-align: center;
  font-size: g.clampFontSize(48, 100);
  font-weight: 300;
  letter-spacing: 1.44px;
  @include g.mq(lg, xl, xxl) {
    margin-top: 40px;
    // font-size: 100px;
  }
}
