@use "../global" as g;

.p-header {
  width: 100%;
  height: inherit;
}

.p-header__inner {
}

.p-header__logo {
  margin-top: 27px;
  width: 140px;
  a {
    display: inline-block;
    img {
    }
  }
}


