*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  background: transparent;
  cursor: pointer;
  font: inherit;
}

input,
select,
textarea {
  font: inherit;
  color: inherit;
  vertical-align: top;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  color: #FFFFFF;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; /* Safari */
  background-color: #050507;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: inherit;
}

*:focus {
  outline-color: var(--cl-base);
}

.l-wrapper {
  overflow: hidden;
}

.l-burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 50;
}

.l-drawer-content {
  position: fixed;
  top: 0;
  right: 0;
  height: 0;
  width: 0;
  z-index: 60;
}

.l-header {
  position: fixed;
  top: 10px;
  left: 0;
  z-index: 40;
}

.l-access {
  position: relative;
  z-index: 3;
}

.l-contact {
  position: relative;
  z-index: 5;
}

.c-inner__head-burger {
  margin-left: 16px;
  margin-right: 16px;
}
@media screen and (max-width: 1220px) and (min-width: calc(899px + 1px)), screen and (max-width: 1440px) and (min-width: calc(1220px + 1px)), screen and (min-width: 1441px) {
  .c-inner__head-burger {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 1220px) and (min-width: calc(899px + 1px)), screen and (max-width: 1440px) and (min-width: calc(1220px + 1px)) {
  .c-inner__head-burger {
    width: 83.8306731437vw;
  }
}
@media screen and (min-width: 1441px) {
  .c-inner__head-burger {
    width: 1208px;
  }
}

@media screen and (max-width: 1220px) and (min-width: calc(899px + 1px)), screen and (max-width: 1440px) and (min-width: calc(1220px + 1px)), screen and (min-width: 1441px) {
  .c-active__sp {
    display: none;
  }
}

.c-active__pc {
  display: none;
}
@media screen and (max-width: 1220px) and (min-width: calc(899px + 1px)), screen and (max-width: 1440px) and (min-width: calc(1220px + 1px)), screen and (min-width: 1441px) {
  .c-active__pc {
    display: block;
  }
}

@media screen and (max-width: 1440px) and (min-width: calc(1220px + 1px)), screen and (min-width: 1441px) {
  .c-active__xs-lg {
    display: none;
  }
}

.c-active__xs {
  display: none;
}
@media screen and (max-width: 511px) {
  .c-active__xs {
    display: block;
  }
}

.c-active__sm {
  display: none;
}
@media screen and (max-width: 767px) and (min-width: calc(511px + 1px)) {
  .c-active__sm {
    display: block;
  }
}

.c-active__md {
  display: none;
}
@media screen and (max-width: 899px) and (min-width: calc(767px + 1px)) {
  .c-active__md {
    display: block;
  }
}

.c-active__lg {
  display: none;
}
@media screen and (max-width: 1220px) and (min-width: calc(899px + 1px)) {
  .c-active__lg {
    display: block;
  }
}

.c-active__xl {
  display: none;
}
@media screen and (max-width: 1440px) and (min-width: calc(1220px + 1px)) {
  .c-active__xl {
    display: block;
  }
}

.c-active__xxl {
  display: none;
}
@media screen and (min-width: 1441px) {
  .c-active__xxl {
    display: block;
  }
}

.c-section__title {
  text-align: center;
}
.c-section__title h2 {
  display: inline-block;
  font-size: clamp(32px, 2.6291079812vw + 22.1408450704px, 60px);
  letter-spacing: 0.96px;
  border-bottom: solid 1px #ffffff;
}

.c-drawer-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 45;
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity 0.6s linear, transform 0s linear 0.6s;
}
.c-drawer-back.is-checked {
  transform: translateX(0);
  opacity: 1;
  transition: opacity 0.6s linear;
}

.c-fadeUp__ini {
  transition: transform 1s ease, opacity 1s ease;
  transform: translateY(100px);
  opacity: 0;
}

.c-fadeUp {
  transform: translateY(0);
  opacity: 1;
}

.c-fadeInOut__ini {
  opacity: 0;
  transition: opacity 1s ease;
}

.c-fadeInOut__in {
  opacity: 1 !important;
}

.c-fadeIn__ini {
  transition: transform 1s ease, opacity 1s ease;
  opacity: 0;
}

.c-fadeIn {
  opacity: 1;
}

.c-button {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.c-button button {
  color: #FFFFFF;
  font-size: 16px;
}

.p-header {
  width: 140px;
  height: auto;
}

.p-header__logo {
  margin-top: 20px;
}
.p-header__logo a {
  display: inline-block;
}
.p-burger {
  width: 100%;
  height: inherit;
}

.p-burger__bars {
  position: relative;
  margin-top: 28.5px;
  margin-left: auto;
  width: 30px;
  height: 23px;
  display: flex;
  flex-direction: column;
}
.p-burger__bars.is-checked .p-burger__bar:nth-of-type(1) {
  top: 12.75px;
  transform: rotate(45deg);
}
.p-burger__bars.is-checked .p-burger__bar:nth-of-type(2) {
  display: none;
}
.p-burger__bars.is-checked .p-burger__bar:nth-of-type(3) {
  top: 12.75px;
  transform: rotate(-45deg);
}

.p-burger__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  transition: transform 0.3s linear, top 0.3s linear;
}
.p-burger__bar:nth-of-type(2) {
  top: 10px;
}
.p-burger__bar:nth-of-type(3) {
  top: 22px;
}

.p-firstview__container {
  overflow: hidden;
  height: 600px;
}

.p-firstview__container-scale {
  overflow: hidden;
  width: 100vw;
  height: inherit;
}

.p-firstview__imgs {
  position: relative;
  height: inherit;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 511px), screen and (max-width: 767px) and (min-width: calc(511px + 1px)), screen and (max-width: 899px) and (min-width: calc(767px + 1px)) {
  .p-firstview__imgs {
    width: 300vw;
    transform: translateX(-100vw);
  }
}

.p-firstview__img-container {
  position: relative;
  height: inherit;
}
.p-firstview__img-container.img1 {
  z-index: 1;
}
.p-firstview__img-container.img1 .p-firstview__img {
  background: url(../img/mainvisual1.jpg) no-repeat center center/cover;
}
.p-firstview__img-container.img2 .p-firstview__img {
  background: url(../img/mainvisual2.jpg) no-repeat center center/cover;
}
.p-firstview__img-container.img3 {
  z-index: 1;
}
.p-firstview__img-container.img3 .p-firstview__img {
  background: url(../img/mainvisual3.jpg) no-repeat center center/cover;
}
@media screen and (max-width: 511px), screen and (max-width: 767px) and (min-width: calc(511px + 1px)), screen and (max-width: 899px) and (min-width: calc(767px + 1px)) {
  .p-firstview__img-container {
    width: 100vw;
    overflow: hidden;
  }
}
@media screen and (max-width: 1220px) and (min-width: calc(899px + 1px)), screen and (max-width: 1440px) and (min-width: calc(1220px + 1px)), screen and (min-width: 1441px) {
  .p-firstview__img-container {
    width: 33.3%;
  }
}

.p-firstview__img {
  height: inherit;
}
@media screen and (max-width: 511px), screen and (max-width: 767px) and (min-width: calc(511px + 1px)), screen and (max-width: 899px) and (min-width: calc(767px + 1px)) {
  .p-firstview__img {
    width: 106.6666666667vw;
    transform: translateX(-3.3333333333vw);
  }
}

.p-firstview__title {
  position: relative;
  padding-top: 10px;
  background-color: #050507;
  text-align: center;
  font-size: clamp(48px, 4.882629108vw + 29.6901408451px, 100px);
  font-weight: 300;
  letter-spacing: 1.44px;
}
@media screen and (max-width: 1220px) and (min-width: calc(899px + 1px)), screen and (max-width: 1440px) and (min-width: calc(1220px + 1px)), screen and (min-width: 1441px) {
  .p-firstview__title {
    margin-top: 40px;
  }
}

.p-information {
  margin-top: 25px;
  padding-top: 25px;
}

.p-information__en,
.p-information__jp {
  font-size: clamp(16px, 0.1877934272vw + 15.2957746479px, 18px);
  text-align: center;
}

.p-information__en {
  margin-top: 45px;
}

.p-information__place {
  margin-top: 20px;
  font-size: clamp(32px, 0.7511737089vw + 29.1830985915px, 40px);
  font-weight: 400;
  text-align: center;
}

.p-information__jp {
  margin-top: 20px;
}

.p-gallery {
  padding-top: 80px;
}

.p-gallery__inner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  width: min(100vw, 800px);
}

.p-gallery__img {
  width: min(100%, 355px);
}
.p-gallery__img:first-child {
  margin-top: 40px;
}
.p-gallery__img:not(:first-child) {
  margin-top: 30px;
}
@media screen and (max-width: 1220px) and (min-width: calc(899px + 1px)), screen and (max-width: 1440px) and (min-width: calc(1220px + 1px)), screen and (min-width: 1441px) {
  .p-gallery__img:not(:first-child) {
    margin-top: 60px;
  }
}
.p-gallery__img:nth-child(2n) {
  margin-left: auto;
}

.p-access {
  position: relative;
  margin-top: -100px;
  padding-top: 180px;
  padding-bottom: 180px;
}
@media screen and (max-width: 1220px) and (min-width: calc(899px + 1px)), screen and (max-width: 1440px) and (min-width: calc(1220px + 1px)), screen and (min-width: 1441px) {
  .p-access {
    padding-top: 300px;
    padding-bottom: 300px;
  }
}

.p-access__building {
  margin-top: 45px;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--ffffff-white, #fff);
  font-size: 28px;
  font-weight: 400;
}

.p-access__address {
  margin-top: 20px;
  text-align: center;
  font-size: 15.5px;
}

.p-access__tel-mail {
  margin-top: 20px;
  text-align: center;
  font-size: 15.5px;
}

.p-access__button {
  margin-top: 30px;
  width: 252px;
  height: 50px;
  border: 1px solid #ffffff;
  transition: background-color 0.4s ease;
}
.p-access__button:hover {
  background-color: #050507;
}
.p-access__button button {
  width: 100%;
  height: 100%;
  line-height: 50px;
}

.p-access__background-img {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/access-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
}

.p-contact {
  padding-top: 100px;
  padding-bottom: 200px;
}

.p-contact__wrapper {
  margin-top: 45px;
}

.p-contact__button {
  position: relative;
  width: 315px;
  height: 80px;
  border: 1px solid #7d7d7d;
}
@media screen and (max-width: 1220px) and (min-width: calc(899px + 1px)), screen and (max-width: 1440px) and (min-width: calc(1220px + 1px)), screen and (min-width: 1441px) {
  .p-contact__button {
    width: 400px;
  }
}
.p-contact__button button {
  width: 100%;
  height: 100%;
  line-height: 80px;
  font-size: 16px;
}
@media screen and (max-width: 511px), screen and (max-width: 767px) and (min-width: calc(511px + 1px)), screen and (max-width: 899px) and (min-width: calc(767px + 1px)) {
  .p-contact__button button {
    transition: background-color 0.4s ease, color 0.4s ease;
  }
}
@media screen and (max-width: 511px), screen and (max-width: 767px) and (min-width: calc(511px + 1px)), screen and (max-width: 899px) and (min-width: calc(767px + 1px)) {
  .p-contact__button button:hover {
    background-color: #fff;
    color: #050507;
  }
}
@media screen and (max-width: 1220px) and (min-width: calc(899px + 1px)), screen and (max-width: 1440px) and (min-width: calc(1220px + 1px)), screen and (min-width: 1441px) {
  .p-contact__button::before {
    position: absolute;
    content: "";
    background: url(../img/button-arrow.png) no-repeat center center/contain;
    top: 48%;
    right: 0;
    transform: translate(50%, -50%);
    width: 120.303px;
    height: 6.919px;
    transition: right 0.4s ease;
  }
}
.p-contact__button:hover::before {
  right: -20px;
}
.p-contact__button:nth-child(2) {
  margin-top: 20px;
}

.p-footer {
  border-top: solid 2px #ffffff;
  padding-top: 60px;
}
@media screen and (max-width: 1220px) and (min-width: calc(899px + 1px)), screen and (max-width: 1440px) and (min-width: calc(1220px + 1px)), screen and (min-width: 1441px) {
  .p-footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.p-footer__inner {
  margin-left: 30px;
  margin-right: 30px;
}

.p-footer__info {
  font-size: 12px;
  font-weight: 300;
  line-height: 19.2px; /* 160% */
  display: inline-block;
}
.p-footer__info a {
  display: block;
}

.p-footer__bottom {
  margin-top: 30px;
}
@media screen and (max-width: 1220px) and (min-width: calc(899px + 1px)), screen and (max-width: 1440px) and (min-width: calc(1220px + 1px)), screen and (min-width: 1441px) {
  .p-footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.p-footer__sns {
  font-size: 12px;
}
.p-footer__sns a:not(:first-child) {
  margin-left: 15px;
}

.p-footer__wrapper {
  margin-top: 30px;
  font-size: 12px;
  display: flex;
}
@media screen and (max-width: 1220px) and (min-width: calc(899px + 1px)), screen and (max-width: 1440px) and (min-width: calc(1220px + 1px)), screen and (min-width: 1441px) {
  .p-footer__wrapper {
    margin-top: 0;
  }
}

.p-footer__copyright {
  margin-left: 30px;
}/*# sourceMappingURL=style.css.map */