@use "../global" as g;

.l-cta {
  display: none;
  @include g.mq(lg, xl, xxl) {
    display: block;
    content: "";
    position: fixed;
    top: 50%;
    transform: translateY(-30%);
    right: 0;
    z-index: map-get(g.$df-layer, sidebutton);
  }
}
