.js-fadeUpTrigger {
  transform: translateY(100px);
  opacity: 0;
}

.c-fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeUpAnime {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
